<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>884654190930-cfg3r8to8ihidevh7ljmbb39eah89t3n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.884654190930-cfg3r8to8ihidevh7ljmbb39eah89t3n</string>
	<key>API_KEY</key>
	<string>AIzaSyDH8uV4JZHc8QkvwdXsjmWqwoy2-lZkqvc</string>
	<key>GCM_SENDER_ID</key>
	<string>884654190930</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>doitduri.Notice</string>
	<key>PROJECT_ID</key>
	<string>notice-71de0</string>
	<key>STORAGE_BUCKET</key>
	<string>notice-71de0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:884654190930:ios:45e1d20cc9c0eef43f8a8b</string>
</dict>
</plist>