<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>875722411175-hi3motctfqu617uaf13kb7gd12ujeej8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.875722411175-hi3motctfqu617uaf13kb7gd12ujeej8</string>
	<key>API_KEY</key>
	<string>AIzaSyC6TBK6cpbvDIxc-IaMPXiHMmNNBLoQmqc</string>
	<key>GCM_SENDER_ID</key>
	<string>875722411175</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>doitduri.CreditCardList</string>
	<key>PROJECT_ID</key>
	<string>creditcard-list-b9b48</string>
	<key>STORAGE_BUCKET</key>
	<string>creditcard-list-b9b48.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:875722411175:ios:623a9f3721ce3b59bc1f82</string>
</dict>
</plist>